.footer {
  @include wrapper-outer;
  background-color: $footer_bg_color;
  color: $white;
}

.footer__wrapper {
  @include wrapper-inner(false, true);
  min-height: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  font: bold 26px/26px $bebas;
  letter-spacing: 0.02em;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

.footer__menu {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;

  li:not(:last-child) {
    margin-right: 40px;
  }
}

.footer__menu-link {
  display: inline-block;
  padding: 5px 0;

  font: 14px/16px $roboto;
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

.footer__social {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  list-style: none;

  li:not(:last-child) {
    margin-right: 25px;
  }

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: $tablet_max_width) {
  .footer__wrapper {
    min-height: 114px;
  }

  .footer__logo {
    font: bold 24px/24px $bebas;
  }

  .footer__menu {
    li:not(:last-child) {
      margin-right: 30px;
    }
  }

  .footer__social {
    li:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media (max-width: $mobile_max_width) {
  .footer {
    padding: 50px 0;

    @include wrapper-outer;
  }

  .footer__wrapper {
    @include wrapper-inner;
    padding: 0;

    min-height: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__logo {
    font: bold 20px/20px $bebas;
  }

  .footer__menu {
    display: block;
    margin-bottom: 15px;
    columns: 2;
    column-gap: 76px;

    li:not(:last-child) {
      margin-right: 0;
    }

    li {
      margin-bottom: 20px;
    }
  }

  .footer__menu-link {
    padding: 0;
    font: 16px/19px $roboto;
  }

  .footer__social {
    li:not(:last-child) {
      margin-right: 35px;
    }
  }

  .footer__social-link {
    &--vk svg {
      width: 32px;
      height: 17px;
    }

    &--ig svg {
      width: 27px;
      height: 27px;
    }

    &--fb svg {
      width: 14px;
      height: 27px;
    }
  }
}
