$img_desktop_width: 500px;
$img_desktop_height: 556px;
$promo_desktop_content_width: 460px;
$promo_desktop_gutter: 64px;

$img_tablet_width: 324px;
$img_tablet_height: 390px;
$promo_tablet_content_width: $tablet_content_width - $img_tablet_width;
$promo_tablet_gutter: 30px;

$desktop_gradient_center_x: 116px;
$desktop_gradient_center_y: 257px;

$tablet_gradient_center_x: 114px;
$tablet_gradient_center_y: 198px;

$mobile_gradient_center_x: 98px;
$mobile_gradient_center_y: 168px;

.header {
  @include wrapper-outer;
  flex-flow: column wrap;
  align-items: center;

  color: $white;
  background: conic-gradient(from 175deg at calc((100% - #{$desktop_content_width}) / 2 + #{$desktop_gradient_center_x}) $desktop_gradient_center_y, $gradient_start_color 0%, $gradient_end_color 70%, $gradient_start_color 100%);
}

.header__top {
  padding-top: 30px;

  @include wrapper-inner;
  display: flex;
  justify-content: space-between;

  font: 26px/26px $bebas;
}

.header__logo {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.header__contacts {
  a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.03em;
  }
}

.header__promo {
  position: relative;
  padding-bottom: 45px;

  @include wrapper-inner;
  display: flex;
}

.header__column {
  width: percentage($promo_desktop_content_width / $desktop_content_width);
  box-sizing: border-box;
  padding-top: 112px;
  padding-right: $promo_desktop_gutter;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  span {
    margin-bottom: 10px;
    order: -1;

    font: 49px/49px $bebas;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: right;
  }

  h1 {
    margin: 0 0 57px;
    font: 900 109px/109px $bebas;
    letter-spacing: 0.03em;
    text-align: right;
  }

  .header__features {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    bottom: 236px;

    list-style: none;
    font: 14px/150% $roboto;
    text-align: right;
  }

  .header__btn {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 230px;

    font: 12px/14px $roboto;
    text-decoration: none;
    color: $white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    border: 4px solid $white;
  }
}

.header__social {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 90px;

  list-style: none;
  text-align: right;

  li:not(:last-child) {
    margin-bottom: 12px;
  }

  a {
    text-decoration: none;
    font: 12px/14px $roboto;
    color: inherit;
  }
}

@media (max-width: $tablet_max_width) {
  .header {
    background: conic-gradient(from 215deg at calc((100% - #{$tablet_content_width}) / 2 + #{$tablet_gradient_center_x}) $tablet_gradient_center_y, $gradient_start_color 0%, $gradient_end_color 50%, $gradient_start_color 100%);
  }

  .header__top {
    padding: 40px 0 20px;

    font: 24px/24px $bebas;
    letter-spacing: 0.02em;
  }

  .header__promo {
    padding-bottom: 80px;
  }

  .header__column {
    width: $promo_tablet_content_width;
    padding-top: 50px;
    padding-right: $promo_tablet_gutter;

    span {
      margin-bottom: 10px;

      font: 34px/34px $bebas;
    }

    h1 {
      margin-bottom: 38px;

      font: bold 86px/86px $bebas;
    }

    .header__features {
      left: 0;
      bottom: 222px;
    }

    .header__btn {
      width: 183px;
    }
  }

  .header__pic {
    img {
      width: $img_tablet_width;
      height: $img_tablet_height;
      object-fit: cover;
    }
  }

  .header__social {
    display: none;
  }
}

@media (max-width: $mobile_max_width) {
  .header {
    background: conic-gradient(from 215deg at calc((100% - #{$mobile_content_width}) / 2 + #{$mobile_gradient_center_x}) $mobile_gradient_center_y, $gradient_start_color 0%, $gradient_end_color 74%, $gradient_start_color 100%);
  }

  .header__top {
    padding: 20px 0;
    font: 20px/20px $bebas;
  }

  .header__promo {
    padding-bottom: 80px;
  }

  .header__column {
    padding: 50px 0 0;

    span {
      margin-bottom: 10px;
      font: 28px/28px $bebas;
    }

    h1 {
      margin-bottom: 46px;
      font: bold 78px/78px $bebas;
    }

    .header__features {
      bottom: 195px;
    }

    .header__btn {
      width: 100%;
    }
  }

  .header__pic {
    display: none;
  }
}
