$slider_btn_width: 16px;
$slider_btn_height: 32px;
$slider_btn_gutter: 40px;

$slider_desktop_slide_gutter: 40px;
$slider_tablet_slide_gutter: 30px;

$slider_mobile_btn_svg_width: 10px;
$slider_mobile_btn_svg_height: 19px;
$slider_mobile_btn_padding: 15px;
$slider_mobile_btn_gutter: 7px;

.trainers {
  @include wrapper-outer;
  padding-bottom: 120px;
}

.trainers__wrapper {
  @include wrapper-inner;
  max-width: $desktop-content-width + 2 * ($slider_btn_gutter + $slider_btn_width);
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 0 50px;
    width: $desktop-content-width;
    align-self: center;

    @include h2-heading;
  }
}

.trainers__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trainers__slider-control {
  width: $slider_btn_width;
  height: $slider_btn_height;
  padding: 0;

  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.trainers__slider-wrapper {
  width: $desktop-content-width;
  overflow: hidden;
}

.trainers__list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
  color: $white;
  transition: 0.4s ease-in-out;
}

.trainers__item {
  position: relative;
  margin-right: $slider_desktop_slide_gutter;

  h3 {
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 24px;
    z-index: 2;

    font: bold 18px/150% $roboto;
    text-align: center;
    transition: 0.3s;
  }

  &:hover > .trainers__info {
    opacity: 1;
  }

  &:hover > h3 {
    transform: translateY(-195px);
  }
}

.trainers__pic {
  display: flex;
}

.trainers__info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 73px 55px 40px;
  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: $slider_trainer_hover_color;
  opacity: 0;
  transition: 0.4s;

  span {
    margin-bottom: 32px;

    font: 16px/150% $roboto;
    color: #b6bdcc;
  }

  ul {
    padding-left: 15px;

    text-align: left;
    font: 14px/150% $roboto;
    list-style-type: disc;
  }

  li:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: $tablet_max_width) {
  .trainers {
    padding-bottom: 100px;
  }

  .trainers__wrapper {
    h2 {
      margin-bottom: 40px;

      text-align: center;
    }
  }

  .trainers__slider {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .trainers__slider-wrapper {
    width: $tablet-content-width - 2 * ($slider_btn_width + $slider_btn_gutter);
  }

  .trainers__item {
    margin-right: $slider_tablet_slide_gutter;
  }

  .trainers__pic {
    img {
      width: 268px;
      object-fit: cover;
    }
  }
}

@media (max-width: $mobile_max_width) {
  .trainers {
    padding-bottom: 70px;
  }

  .trainers__slider {
    margin: 0 -#{$slider_mobile_btn_padding};
  }

  .trainers__slider-control {
    width: auto;
    height: auto;
    padding: $slider_mobile_btn_padding;

    svg {
      width: $slider_mobile_btn_svg_width;
      height: $slider_mobile_btn_svg_height;
    }
  }

  .trainers__slider-wrapper {
    width: 226px;
    margin: 0 $slider_mobile_btn_gutter;
  }

  .trainers__item {
    &:hover > h3 {
      transform: translateY(-180px);
    }
  }

  .trainers__pic {
    img {
      width: 226px;
      height: 274px;
    }
  }

  .trainers__info {
    padding: 67px 35px 40px;
  }
}

