$desktop-content-width: 1160px;
$tablet-content-width: 678px;
$mobile-content-width: 290px;
$mobile-layout-padding: 15px;

@mixin wrapper-outer {
  display: flex;
  justify-content: center;
}

@mixin wrapper-inner {
  max-width: $desktop-content-width;
  width: 100%;

  @media (max-width: $tablet-max-width) {
    max-width: $tablet-content-width;
  }

  @media (max-width: $mobile-max-width) {
    max-width: $mobile-content-width;
  }
}

@mixin button {
  display: block;
  box-sizing: border-box;
  padding: 20px;

  text-decoration: none;
  color: $white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid $white;
}
