// переменные ширины вьюпорта

$tablet_max_width: 1199px;
$mobile_max_width: 767px;

//переменные шрифтов

$roboto: "RobotoCondensed", "Arial", sans_serif;
$bebas: "BebasNeue", "Arial", sans_serif;

// переменные цвета

$white: #ffffff;
$gradient_start_color: #003d85;
$gradient_end_color: #b80027;
$text_color_dark: #102654;
$subscr_bg_color: #f8f9fc;
$inactive_tab_color: rgba(16, 38, 84, 0.5);
$text_color_alt: #495a7d;
$text_price_color: #103aae;
$text_price_replica: #e8e8e8;
$underline_color: #d10a42;

// переменные ретинизации графики
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;

//общие переменные сетки

$desktop_content_width: 1160px;
$tablet_content_width: 678px;
$mobile_content_width: 290px;
$mobile_layout_padding: 15px;
