// переменные ширины вьюпорта

$tablet_max_width: 1199px;
$mobile_max_width: 767px;

//переменные шрифтов

$roboto: "RobotoCondensed", "Arial", sans_serif;
$bebas: "BebasNeue", "Arial", sans_serif;

// переменные цвета

$white: #ffffff;
$header_bg_color: #b80027;
$btn_gradient_start_color: #ed0233;
$btn_gradient_end_color: #003eb7;
$border_gradient_start_color: #d10a42;
$border_gradient_end_color: #00359f;
$text_color_dark: #102654;
$subscr_bg_color: #f8f9fc;
$inactive_tab_color: rgba(16, 38, 84, 0.5);
$text_color_alt: #495a7d;
$text_price_color: #103aae;
$text_price_replica: #e8e8e8;
$underline_color: #d10a42;
$slider_trainer_hover_color: rgba(16, 38, 84, 0.89);
$advantages_minor_text__color: #2e35ac;
$blue_alt_color: #1c3374;
$advantages_line_color: rgba(209, 10, 66, 0.2);
$text_gradient_start_color: #d10a42;
$text_gradient_end_color: #0041ca;
$actions_bg_color: #ed0233;
$form_bg_color: #102654;

// переменные ретинизации графики
$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;

//общие переменные сетки

$desktop_content_width: 1160px;
$tablet_content_width: 678px;
$mobile_content_width: 290px;
$tablet_layout_padding: 45px;
$mobile_layout_padding: 15px;
